XSDSchemas/ExternalConstraints.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">

    <xsd:complexType name="ExternalConstraintsData">
        <xsd:sequence>
            <xsd:element name="constraint" type="constraintType"   minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="constraintType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema>
